#loginForm{
    padding: 10px 20px 10px 20px;
}
#myCanvas{
    height: 100%;
}
body {
    background-color: #f7fafc;
}
body > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
#login{
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    background-color: white;
    min-width: 300px;
    min-height: 450px;
    height: 600px;
    background-color: transparent;
}
#picture{
    border-top-right-radius: 5px;
    border-bottom-rigth-radius: 5px;
    background-color: rgba(99, 156, 185, 0.7);
    background-size: cover;
    height: 600px;
    min-height: 450px;
}
#login,#picture{
    box-shadow: 2px 2px 5px #888888;
}
.ui.center.aligned.icon.header{
    color: #566374;
}
.blue{
    background-color: #00a0f0!important;
}
#myContainer{
    position: fixed;
    top:0px;
    width: 70%;left: 15%
}
#message{
    text-align: center;
    background-color: transparent;
    border: none
}