body {
    background-color: #FFFFFF;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.item{
    border-radius: 0!important;
}
.ui.red.label{
    width: 5rem;
}
.ui.card:hover{
    cursor:pointer!important;
}
.personal{
    font-size: 16px;
}

.ui.bordered.avatar.image{
    border-radius: 5000rem!important;
}

.ui.centered.medium.image{
    margin: 2rem 1rem 2rem 1rem;
}