.ui.labeled.input{
    width: 100%!important;
}
.long.arrow.icon{
    color: white;
    margin-left: 5px!important;
}
.ui.grid.centered.segment.vertical{
    padding-bottom: 14px!important;
}
.pusher{
    background-color: white!important;
}
h2{
    margin-top: 10px!important;
}
.ui.segment{
    padding: 0 0 0 0!important;
}
table{
    width: 100%!important;
}
form{
    margin: 0 0 0 0!important;
}
.sub.header{
    padding-left: 30px!important;
}
a.item.foot{
    padding: 0 0 0 0!important;
}
table{
    margin-bottom: 0px!important;
}
tr:hover,th:hover{
    cursor:pointer!important;
}
.ui.black.inverted.button:hover{
    color: white!important;
}
.ui.black.inverted.button{
    color: black!important;
    font-weight: 100 !important;
}
#segment{
    height: 65%;
}