.ui.labeled.input{
    width: 100%!important;
}
.long.arrow.icon{
    color: white;
    margin-left: 5px!important;
}
.ui.grid.centered.segment.vertical{
    padding-bottom: 14px!important;
}
.pusher{
    background-color: white!important;
}
h2{
    margin-top: 10px!important;
}
.ui.segment{
    padding: 0 0 0 0!important;
}
table{
    width: 100%!important;
}
form{
    margin: 0 0 0 0!important;
}
.sub.header{
    padding-left: 30px!important;
}
a.item.foot{
    padding: 0 0 0 0!important;
}
table{
    margin-bottom: 0px!important;
}
tr:hover,th:hover{
    cursor:pointer!important;
}
.ui.black.inverted.button:hover{
    color: white!important;
}
.ui.black.inverted.button{
    color: black!important;
    font-weight: 100 !important;
}
#segment{
    height: 65%;
}
input.myTextarea{
    height: 100%;
    width: 300%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}